doctype html
html
    head
        link(href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(rel="stylesheet" href="/stylesheets/materialize.css")
        script(type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js")
        script(type="text/javascript" src="/javascript/materialize.js")

        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(charset="utf-8")
        style(type="text/css").
            body {
                display: flex;
                min-height: 100vh;
                flex-direction: column;
            }
            main {
                flex: 1 0 auto;
            }
            footer {
                font-size: medium;
            }

        block head
    body
        header
            block header
        main
            block content
        footer.page-footer.grey.lighten-5
            .footer-copyright.grey.lighten-4.black-text
                .container
                    .center-align
                        a(href = "https://github.com/semoro/KurriculumVitae").teal-text KurriculumVitae
                        = " - Kotlin curriculum vitae hosting engine"

