extends common

block content
    | Installing KV
    form(method="post")
        input(name="dbDriver" type="text")
        input(name="dbConnectionString" type="text")
        input(name="adminPassword" type="text")
        input(type="submit")